body {
    /* margin: 0;
    margin-left: 10px;
    padding: 0; */
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../images/site-background.jpg');
    background-size: 100% 100%; /* Stretch the background image to cover all free space */
    background-attachment: fixed; /* Fix the background position */
    height: 100%; /* Use viewport height for initial height */
    width: 100%;
}